@model WebApplicationCoreS1.Models.WebUser     //I have to include models here too

@*Using Tag Helpers*@

<form asp-controller="User" asp-action="SimpleBinding" method="post">
	<div>
		<label asp-for="FirstName"></label>
		<input asp-for="FirstName"/>
	</div>
	<div>
		<label asp-for="LastName"></label>
		<input asp-for="LastName"/>
	</div>

	<button type="submit">Submit</button>
</form>


@*
//Using HTML helpers
@using (var form = Html.BeginForm())
{
	<div>
		@Html.LabelFor(m => m.FirstName)
		@Html.TextBoxFor(m => m.FirstName)
	</div>
	<div>
		@Html.LabelFor(m => m.LastName)
		@Html.TextBoxFor(m => m.LastName)
	</div>

	<input type="submit" value="Submit"/>
}
*@

